
#porta5C{
    width: 32px;
    height: 32px;
    margin-top: 96px;
}

#lavagna{
    width: 64px;
    height: 32px;
    margin-top: 64px;
    margin-left: 256px;
}

#computer{
    width: 32px;
    height: 64px;
    margin-top: 96px;
    margin-left: 192px;
}

#armadio{
    width: 32px;
    height: 32px;
    margin-top: 224px;
    margin-left: 32px;
}

#armadio5COpen{
    width: 32px;
    height: 32px;
    margin-top: 224px;
    margin-left: 32px;
}

#imgArmadio5CLock{
    background-image: url("img/schermate/armadioChiuso.png");
    margin-left: -294px;
}
#imgArmadio5COpen{
    background-image: url("img/schermate/armadioCod.jpeg");
    margin-left: -294px;
}

#cestini{
    width:64px;
    height: 32px;
    margin-top: 64px;
    margin-left: -608px;
}

#partenza5C{
    width:32px;
    height: 32px;
    margin-left: 224px;
    margin-top: 288px;
    
}

#soul{
    display: inline;
    width: 32px;
    height: 32px;
   
    
}

#schermata{
    display: flex;
    width: 672px;
    height: 674px;
    background-image: url("img/stanze/5C.png")
}
.schermata2{
    width: 576px;
    height: 407px;
    margin-left: -304px;
    margin-top: 64px;
    display: flex;
    justify-content:space-around;
}

#imgComputer{
    background-image: url("img/schermate/computer.jpg");
}
#imgLavagna{
    background-image: url("img/schermate/lavagna.png");
}

#registro{
    
   background-image: url("img/schermate/registro.png");
}

.icona{
    width: 64px;
    height: 64px;
    align-self: center;
    margin-bottom: 50px;
}
