/* NAVBAR */

#navbar {
    position: absolute;
    background-color: #53C9D7;
    height: 85px;
    width: 100%;
    top: 0px;
    left: 0px;
}

#imgLogoSoulEnigmista {
    height: 60px;
    top: 0px;
    left: 0px;
    margin-top: 10px;
    margin-left: 250px;
}

#txtNavbar {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    margin-top: 26px;
    margin-left: 500px;
}

#btnAccedi {
    position: absolute;
    display: inline-block;
    top: 0px;
    left: 0px;
    margin-top: 20px;
    margin-left: 80%;
    color: #ffffff;
    background-color: #53C9D7;
    border-radius: 10px;
    border: 2px solid white;
    height: 40px;
    width: 100px;
    font-size: 16px;
}

.txtMenu {
    margin-left: 20px;
    margin-right: 20px;
    color: #ffffff;
    font-size: 24px;
}

/* SFONDO HOME */

#home {
    position: absolute;
    height: 1000px;
    width: 100%;
    top: 0px;
    left: 0px;
    margin-top: 85px;
}

#imgSfondoStanze {
    height: 1000px;
    width: 100%;
    opacity: 0.3;
}

#txtHome {
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: 180px;
    margin-left: 100px;
}

.txtTitoloHome {
    font-size: 100px;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.txtSottotitoloHome {
    font-size: 22px;
    color: #ffffff;
}

#btnGiocaOra {
    height: 60px;
    width: 230px;
    font-size: 24px;
    color: #ffffff;
    margin-top: 20px;
    border-radius: 10px;
    border: 5px solid #FFD200;
    background-color: #53C9D7;
}

/* INFORMAZIONI */

#informazioni {
    position: absolute;
    height: 300px;
    width: 100%;
    top: 0px;
    left: 0px;
    margin-top: 1000px;
    background-color: #292929;
}

.divInformazioni {
    width: 33%;
    height: 100%;
    display: inline-block;
}

.imgInformazioni {
    height: 120px;
}

.txtTitoloInformazioni {
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
    margin-top: 10px;
}

.txtParagrafoInformazioni {
    color: #ffffff;
    font-size: 18px;
    margin-top: 10px;
}

#txtTitoloScuola {
    color: #ffffff;
    font-size: 84px;
    margin-top: 100px;
    margin-bottom: 5px;
}

.txtSottotitoloScuola {
    color: #ffffff;
    font-size: 32px;
    font-style: italic;
    margin-bottom: -10px;
}

#imgScuolaDenina {
    margin-top: 100px;
    height: 360px;
    width: 640px;
}

/* GAMEPLAY */

#gameplay {
    position: absolute;
    height: 300px;
    width: 100%;
    top: 0px;
    left: 0px;
    margin-top: 2100px;
    background-color: #292929;
}

#txtTitoloGameplay {
    color: #ffffff;
    font-size: 54px;
    margin-bottom: 30px;
}

/* RIQUADRO SFONDO 1 */

.divRiquadroGameplay {
    width: 100%;
}

#txtRiquadroGameplayTitolo1 {
    position: absolute;
    margin-top: 200px;
    margin-left: 1300px;
    font-size: 40px;
    font-weight: 10px;
    color: #FFD200;
}

#divRiquardroGameplayLinea1 {
    border: 1px solid #FFD200;
    width: 700px;
    margin-top: 250px;
    position: absolute;
    margin-left: 1070px;
}

#txtRiquadroGameplayParagrafo1 {
    color: white;
    position: absolute;
    margin: 300px;
    width: 600px;
    margin-left: 1220px;
    font-size: 25px;
}

/* RIQUADRO SFONDO 2 */

#txtTitoloGameplay {
    color: #ffffff;
    font-size: 54px;
    margin-bottom: 30px;
}

#txtRiquadroGameplayTitolo2 {
    position: absolute;
    margin-top: 200px;
    margin-left: 120px;
    font-size: 40px;
    font-weight: 10px;
    color: #53C9D7;
}

#divRiquardroGameplayLinea2 {
    border: 1px solid #53C9D7;    ;
    width: 700px;
    margin-top: 250px;
    position: absolute;
    margin-left: 120px;
}

#txtRiquadroGameplayParagrafo2 {
    color: white;
    position: absolute;
    margin: 300px;
    width: 600px;
    margin-left: 120px;
    font-size: 25px;
}

/* RIQUADRO SFONDO 3 */

.divRiquadroGameplay {
    width: 100%;
}

#txtRiquadroGameplayTitolo3 {
    position: absolute;
    margin-top: 200px;
    margin-left: 1380px;
    font-size: 40px;
    font-weight: 10px;
    color: #FFD200;
}

#divRiquardroGameplayLinea3 {
    border: 1px solid #FFD200;
    width: 700px;
    margin-top: 250px;
    position: absolute;
    margin-left: 1070px;
}

#txtRiquadroGameplayParagrafo3 {
    color: white;
    position: absolute;
    margin: 300px;
    width: 600px;
    margin-left: 1220px;
    font-size: 25px;
}

/* PERSONAGGI */

#personaggi {
    position: absolute;
    height: 1000px;
    width: 100%;
    top: 0px;
    left: 0px;
    margin-top: 4000px;
}

#txtTitoloPersonaggi {
    color: #ffffff;
    font-size: 54px;
    margin-bottom: 30px;
}

.divPersonaggi {
    width: 33%;
    height: 100%;
    display: inline-block;
}

.imgPersonaggi {
    height: 300px;
}

.txtTitoloPersonaggi {
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
    margin-top: 10px;
}

.txtParagrafoPersonaggi{
    color: #ffffff;
    font-size: 18px;
    margin-top: 10px;
}

/* IL NOSTRO TEAM */

#ilNostroTeam {
    position: absolute;
    height: 500px;
    width: 100%;
    top: 0px;
    left: 0px;
    margin-top: 4700px;
}

#txtTitoloIlNostroTeam {
    color: #ffffff;
    font-size: 54px;
    margin-bottom: 80px;
}

.divIlNostroTeam {
    width: 20%;
    margin-left: 60px;
    height: 100%;
    display: inline-block;
}

.imgIlNostroTeam {
    height: 200px;
    border-radius: 200px;
}

.txtTitoloIlNostroTeam {
    color: #ffffff;
    font-size: 24px;
    margin-top: 10px;
}

/* CONTATTI */

#contatti {
    position: absolute;
    height: 500px;
    width: 100%;
    top: 0px;
    left: 0px;
    margin-top: 5200px;
}

#txtTitoloContatti {
    color: #ffffff;
    font-size: 54px;
    margin-bottom: 30px;
}

/* NOME */

#divNome {
    margin-top: 50px;
    margin-left: 435px;
    display: inline-block;
}

#txtNome {
    color: white;
    font-size: 24px;
    margin-bottom: 5px;
}

#inpTestoNome {
    width: 400px;
    height: 30px;
}

/* COGNOME */

#divCognome {
    margin-top: 50px;
    margin-left: 200px;
    display: inline-block;
}

#txtCognome {
    color: white;
    font-size: 24px;
    margin-bottom: 5px;
}

#inpTestoCognome {
    width: 400px;
    height: 30px;
}

/* EMAIL */

#divEmail {
    margin-top: 50px;
    margin-left: 432px;
    display: inline-block;
}

#txtEmail {
    color: white;
    font-size: 24px;
    margin-bottom: 5px;
}

#inpTestoEmail {
    width: 1008px;
    height: 30px;
}

/* MOTIVO */

#divMotivo {
    margin-top: 50px;
    margin-left: 432px;
    display: inline-block;
}

#txtMotivo {
    color: white;
    font-size: 24px;
    margin-bottom: 5px;
}

#inpTestoMotivo {
    width: 1008px;
    height: 120px;
}

#inpBottoneInvia {
    height: 40px;
    width: 120px;
    border-radius: 40px;
    font-size: 18px;
    margin-left: 47%;
}

/* FOOTER */

#footer {
    position: absolute;
    background-color: #53C9D7;
    height: 250px;
    width: 100%;
    left: 0px;
    margin-top: 5900px;
}

#imgLogoDenina {
    height: 100px;
    margin-top: 3%;
}

#txtFooterIstitutoDenina {
    color: white;
    margin: 10px;
    font-weight: bold;
}

#txtFooterCopyright {
    color: white;
}